html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

#viewDiv {
  float: top;
  padding: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  border: 1px solid lightblue;
}

.menu {
  float: top;
  width: 70%;
  height: 50%;
  margin: auto;
  padding: 10px;
}