<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="shopping-list">
      <h1>{{header.toLocaleUpperCase()}}</h1>
      <button v-if="state === 'default'" v-on:click="changeState('edit')" class="btn btn-primary">Add Item</button>
      <button v-else class="btn btn-cancel" v-on:click="changeState('default')">Cancel</button>

      <div v-if="state === 'edit'" class="add-item-form">
        <input v-model="newItem" type="text" placeholder="Add an item" v-on:keyup.enter="saveItem">
        <p>{{characterCount}}</p>
        <button v-bind:disabled="newItem.length === 0" v-on:click="saveItem" class="btn btn-primary">Save Item</button>
      </div>

      <ul>
        <li v-for="item in items" v-bind:class="[item.purchased ? 'strikeout' : '']">{{item.label}}</li>
      </ul>
      <p v-if="items.length === 0">Nice job! You've bought all your items</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      const shoppingList = new Vue({
        el: "#shopping-list",

        data: {
          state: "default",
          header: "shopping list app",
          newItem: "",
          items: [
            {label: "10 party heads", purchased: false},
            {label: "2 board games", purchased: true},
            {label: "20 cups", purchased: false}
          ]
        },

        methods: {
          saveItem() {
            this.items.push({
              label: this.newItem,
              purchased: false
            });
            this.newItem = "";
          },

          changeState(newState) {
            this.state = newState;
            this.newItem = "";
          }
        },

        computed: {
          characterCount() {
            return this.newItem.length;
          }
        }
      });
    </script>
  </body>
</html>