<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue from Scratch</title>
  </head>
  <body>
    <div id="app">
      <h1 v-if="hidden">Text</h1>
      <h1 v-else>Another</h1>
      <ul>
        <li v-for="item in items">{{item}}</li>
      </ul>

      <label>
        <input type="text" v-model="item">
        <button v-on:click="items.push(item)">Add Item</button>
      </label>

      <hr>
      <ul>
        <li v-for="object in objects">
          {{object.text}}
          <div v-if="object.checked">Checked!</div>
          <button v-on:click="object.checked = !object.checked">Toggle</button>
        </li>
      </ul>

      <hr>
      <input type="text" v-model="price">
      <div>Tax: {{moneyFormat(tax)}}</div>
      <div>Total: {{moneyFormat(total)}}</div>


    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          hidden: false,
          item: "",
          items: [
            "item1",
            "item2"
          ],
          objects: [
            {text: "item 1", checked: true},
            {text: "item 2", checked: true},
            {text: "item 3", checked: false}
          ],
          price: 100
        },
        methods: {
          moneyFormat(price) {
            return "$" + price + ".00";
          }
        },
        computed: {
          tax() {
            return this.price * 0.1;
          },
          total() {
            return parseInt(this.price) + this.tax;
          }
        }
      });
    </script>
  </body>
</html>