@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
  font-weight: 300;
  padding: 0 24px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 12px;
  background-color: #fff;
}

.form-image {
  display: none;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.form-heading {
  text-align: center;
  margin-bottom: 32px;
}

.form-heading img {
  width: 50px;
  height: auto;
}

.form-heading h1 {
  font-size: 24px;
  font-weight: 500;
}

.form-heading p {
  font-size: 14px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #181824;
  font-size: 14px;
  font-weight: 300;
  transition: 300ms ease;
}

.input input:focus {
  outline: none;
  box-shadow: 0 1px 0 0 #6236ff;
  border-color: #6236ff;
}

.label {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
}

.label label {
  display: block;
  font-size: 14px;
  color: #b0b0b0;
}

.input input:focus + .label,
.input input:not(:placeholder-shown) + .label {
  transform: translateY(-27px);
}

.input input:focus + .label label,
.input input:not(:placeholder-shown) + .label label {
  font-weight: 500;
  color: initial;
}

button {
  padding: 12px 18px;
  border: none;
  align-self: flex-start;
  background-color: #6236ff;
  color: #fff;
  border-radius: 12px;
  transition: 300ms ease;
}

button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  color: #6236ff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (min-width: 900px) {
  .sign-up-form {
    flex-direction: row;
  }

  .form-image {
    display: block;
    flex-basis: 45%;
    background-image: url("./assets/bg-black-square.png");
    border-radius: 12px 0 0 12px;
  }

  .form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
  }

  .form-heading h1 {
    font-size: 32px;
  }

  .form-heading p {
    font-size: 16px;
  }
}
