<%- include("partials/notAuthorized_header"); -%>

<div class="container">
    <h1>You are not authorized to view this page!</h1>
    <h3>Please log in with an admin account</h3>
    <a href="/login">
        <button>Log in page</button>
    </a>
</div>

<%- include("partials/footer"); -%>