<div class="author">
    <h1 class="author__heading">Hi, I am Raddy.</h1>
    <p class="author__body">Web developer and content creator.</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out the window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">
        Latest Posts
    </h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
