body {
  background-color: #2d6677;
}

.jumbotron {
  height: auto;
  width: 40%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 20px 30px rgba(0,0,0,0.4);
}

.nav-pills {
  background-color: lightskyblue;
}

ul {
  padding: 0;
  list-style-type: none;
}

i.fas,
i.fab {
  padding: 4px;
  /*box-shadow: 5px 5px 5px rgba(0,0,0,0.2);*/
  border-radius: 10%;
}

.back {
  float: right;
}

.permissionList {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

.col-form-label {
  margin-bottom: -30px;
}

.row-sm-2 {
  padding: 5px;
}

.delete-permission-btn {
  padding: 2px;
  float: right;
  box-shadow: none;
}

.admin-p {
  font-weight: bold;
  float: left;
}

i.fas:hover, i.fab:hover {
  background-color: rgba(242, 147, 80, 0.8);
  border-radius: 10%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.list-group-item {
  margin-bottom: 5px;
}

.list-group-item:hover, .permissionList:hover, select:hover, input:hover {
  background-color: rgba(255, 71, 7, 0.1);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.edit-user {
  float: right;
}

.nav-item {
   border: #d1e3ff 1px solid;
}

.nav-item:hover > a > span > i.fas {
  background-color: rgba(242, 147, 80, 0.8);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.fa-trash-alt {
  margin-right: 15px;
}

.new-layer-button {
  background-color: lightskyblue;
  border: none;
  color: white;
}

.new-layer-button:hover {
  background-color: rgba(242, 147, 80, 0.8);
  border-radius: 10%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  color: white;
}

.update-highlight {
  float: right;
  margin-bottom: 20px;
}

.alert {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 1em;
  width: 40%;
  z-index: 1;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background-color: #007bff;
  color: white;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.card-header:hover {
  background-color: rgba(255, 71, 7, 0.1);
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2);
}