@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}

h3 {
  margin-top: 10px;
}

body {
  background-color: #2d6677;
}

button {
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  text-decoration: none;
}

a {
  text-decoration: none;
  box-shadow: 10px 20px 30px rgba(0,0,0,0.4);
}

a:hover {
  text-decoration: none;
}

div {
  width: 30%;
  text-align: center;
  margin-top: 20px;
  padding: 30px;
  box-shadow: 10px 20px 30px rgba(0,0,0,0.4);
  border-radius: 10px;
  background: white;
}
