<h3>Sign in</h3>
<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password">

    <input type="submit" value="Login" class="btn">
</form>

<!--<h3>Register</h3>-->
<!--<form action="/admin/register" method="post">-->
<!--    <label for="username"><b>Username</b></label>-->
<!--    <input type="text" placeholder="Enter Username" name="username">-->

<!--    <label for="password"><b>Password</b></label>-->
<!--    <input type="text" placeholder="Enter Password" name="password">-->

<!--    <input type="submit" value="Register" class="btn">-->
<!--</form>-->
