{
  "semi": true, // Specify if you want to print semicolons at the end of statements
  "singleQuote": false, // If you want to use single quotes
  "arrowParens": "avoid", // Include parenthesis around a sole arrow function parameter,
  "trailingComma": "none"
}
