* {
  font-family: verdana;
  margin: 0;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  flex-flow: column;
  height: 600px;
  align-items: center;
}

.box {
  width: 100px;
  flex: 0 0 100px;
}

.one {
  background: indianred;
}

.two {
  background: blue;
}

.three {
  background: green;
}